[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"

[dev-packages]
ipykernel = "*"
ardi = {editable = true, git = "http://github.com/AlexanderDavid/ardi.git"}
matplotlib = "*"
scipy = "*"
tslearn = "*"

[requires]
python_version = "3.11"
